.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto; /* allows scrolling if modal content is too tall */
}

.modal_content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 90%; /* to make it responsive */
    max-height: 90vh; /* keeps modal from overflowing screen height */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: auto; /* adds a scrollbar inside the modal if content is tall */
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}



.content,
.form{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    width: 100%;
}

.image_link {
    display: block;
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    border: 1px solid #e0e0e0e0;
    margin: 0.5rem 0 1rem 0;
}

.image_link img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.select_location{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 0 solid grey;
    transition: border-width 0.15s ease-out;
    background-color: white;
    font-size: 1.1rem;
    outline: none;

    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    padding-top: 0.3rem;
    border: 1px solid #e0e0e0;
}

.select_location::placeholder{
    color: #dfdfdf;
    font-size: 0.95rem;
}

.select_location:focus{
    border-width: 2.9px;
}

.select_location .error{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 1rem;
    height: 100%;
    width: 12rem;
    color: red;
    text-align: center;
    font-size: 0.95rem;
}