.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    font-size: 1.2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    max-width: 80%;
}

.content{
    width: 100%;
}

.payment_item_headers{
    display: grid;
    grid-template-columns: 30% 20% 15% 20% 10%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.payment_item{
    display: grid;
    grid-template-columns: 30% 20% 15% 20% 10%;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.payment_item, .payment_item> * {
    word-wrap: break-word;
}

.payment_item:hover{
    background-color: #f3f3f3f3;
}

.payment_item_headers{
    font-weight: bold;
    text-align: left;
    color: #333;
}

.approved_headers{
    display: grid;
    grid-template-columns: 30% 20% 15% 20% 10%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.approved{
    display: grid;
    grid-template-columns: 30% 20% 15% 20% 10%;
    gap: 1rem;
    align-items: center;
    color: green;
    border-bottom: 1px solid whitesmoke;
}

.approved > * {
    word-wrap: break-word;
}

.approved:hover{
    background-color: #f3f3f3;
}
.approved_headers{
    font-weight: bold;
    text-align: left;
    color: #333;
}

.paid_box{
    display: flex;
}

.paid_box input[type="checkbox"]{
    cursor: pointer;
    width: 20px;
    height: 20px;
    accent-color: #4caf50;
    transition: transform ease 0.5s;
}

.paid_box input[type="checkbox"]:hover{
    transform: scale(1.1);
}